rag.json
{
  "nodes": [
    {
      "parameters": {
        "formTitle": "Test",
        "formDescription": "Test",
        "formFields": {
          "values": [
            {
              "fieldLabel": "files",
              "fieldType": "file",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "ad9ff3a0-851d-422e-8ff0-2b7f94fb5ba3",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -256,
        544
      ],
      "webhookId": "66af9d33-0d74-4728-8773-19734330131b",
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {
          "includeBinary": true
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        160,
        320
      ],
      "id": "329d744f-42d9-426a-a1c0-c243f15adbd6",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        384,
        320
      ],
      "id": "aa105806-2bb5-4323-aec0-afe4aecdf487",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimetype }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "6ac18e58-41ab-44e0-bf36-d1047fb32c1c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d67cf6ee-c0ca-40fa-b89f-50b7757f9a33",
                    "leftValue": "={{ $json.mimetype }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d9565d40-da97-4dfc-8a3a-7cfe822d98b1",
                    "leftValue": "={{ $json.mimetype }}",
                    "rightValue": "octet-stream",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "markdown"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        832,
        128
      ],
      "id": "653cd182-1157-409c-8524-9908db690557",
      "name": "Switch"
    },
    {
      "parameters": {
        "documentType": "image_url",
        "binaryProperty": "=files{{$if($input.all().length == \"1\", \"\", $json.index) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        1056,
        -48
      ],
      "id": "872b4bb0-29bf-4807-b910-dd8aa8a15184",
      "name": "Extract text",
      "credentials": {
        "mistralCloudApi": {
          "id": "DdFGni2gnCwoYHcZ",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const extractedData = $input.first().json;\nconst upload_date = $('Webhook').first().json.submittedAt;\nconst file_meta = $('Loop Over Items').first().json;\n\n// Parse Markdown\nif (!extractedData.pages && file_meta.mimetype.includes(\"octet\")) {\n return  {\n   json: {\n    pageContent: extractedData.data,\n    metadata: {\n      source: `${file_meta.filename}`,\n      originalBlobType: file_meta.mimetype,\n      blobType: \"text/markdown\",\n      uploadDate: upload_date,\n    }\n  }\n  }\n}\n\n// Parse OCR\nelse {\n  return extractedData.pages.map((page, i) => ({\n  json: {\n    pageContent: page.markdown.trim(),\n    metadata: {\n      source: `${file_meta.filename}`,\n      originalBlobType: file_meta.mimetype,\n      blobType: \"text/markdown\",\n      page: i + 1,\n      uploadDate: upload_date,\n      model: extractedData.model || \"\",\n      image:  {\n        imageData: page.images || \"\",\n        imageAnalysis: \"\"\n      }\n    }\n  }\n}));\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        144
      ],
      "id": "166c989c-8ed2-4a19-885b-2f22db37189a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "prep_education_notes",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1504,
        320
      ],
      "id": "3a0d619d-71ad-4505-8964-13058e7515e4",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "T4Fh7deQxrVB1Dbz",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1520,
        544
      ],
      "id": "84edd931-7113-4f31-a7b4-e1cf71ce57a5",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "52i4qybiLiN2qpeT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.pageContent }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source",
                "value": "={{ $json.metadata.source }}"
              },
              {
                "name": "originalBlobType",
                "value": "={{ $json.metadata.originalBlobType }}"
              },
              {
                "name": "blobType",
                "value": "={{ $json.metadata.blobType }}"
              },
              {
                "name": "page",
                "value": "={{ $json.metadata.page }}"
              },
              {
                "name": "uploadDate",
                "value": "={{ $json.metadata.uploadDate }}"
              },
              {
                "name": "model",
                "value": "={{ $json.metadata.model}} "
              },
              {
                "name": "=image",
                "value": "={{ $json.metadata.image }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1776,
        528
      ],
      "id": "f495253d-0b87-42ea-bfb4-be2298e5c107",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "=files{{$runIndex}}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1056,
        336
      ],
      "id": "e0787fcf-eeb0-466c-8e31-db383da992fa",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "binaryProperty": "=files{{$json.index}}",
        "options": {}
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        1056,
        144
      ],
      "id": "d0165520-0279-4d10-9c0d-477336f3dd30",
      "name": "Extract text1",
      "credentials": {
        "mistralCloudApi": {
          "id": "DdFGni2gnCwoYHcZ",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c3be16c-1fc6-4121-8c87-8518da5755cd",
              "name": "=index",
              "value": "={{ $runIndex }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        144
      ],
      "id": "0dd5ed8e-1d27-44d5-a4c0-35190d0864d3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "deleteCollection",
        "collectionName": {
          "__rl": true,
          "value": "prep_education_notes",
          "mode": "list",
          "cachedResultName": "prep_education_notes"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-qdrant.qdrant",
      "typeVersion": 1,
      "position": [
        1824,
        1200
      ],
      "id": "e151b2ba-eae6-4e8d-8b93-8fc0554395c9",
      "name": "Delete Collection",
      "credentials": {
        "qdrantRestApi": {
          "id": "5lz1SvWwIZEaC0Rr",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9e64f996-2940-4bd5-a1bd-f5df0db81db4",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -80,
        128
      ],
      "id": "d0cb7f4d-5a33-4002-81f6-51872dc62e0b",
      "name": "Webhook",
      "webhookId": "9e64f996-2940-4bd5-a1bd-f5df0db81db4"
    },
    {
      "parameters": {
        "jsCode": "/**\n * For each incoming item:\n *  - Inspect item.binary for keys that start with \"files\".\n *  - Build a JSON array of file descriptors (filename, mimetype, size).\n *  - Preserve the binary data so downstream nodes can still access it.\n */\nreturn $input.all().map(item => {\n  const fileEntries = Object.entries(item.binary ?? {})\n    .filter(([key]) => key.startsWith('files')) // files, files_0, files_1...\n    .map(([key, bin]) => ({\n      filename: bin.fileName ?? key,\n      mimetype: bin.mimeType ?? 'application/octet-stream',\n      size: bin.fileSize ?? bin.data?.length ?? null,\n      binaryProperty: key, // useful later if you need to refer back\n    }));\n\n  return {\n    json: {\n      files: fileEntries,\n      submittedAt: $now,\n      formMode: \"test\",\n      // ...item.json, // keep any other form fields\n    },\n    binary: item.binary ?? {},\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        128
      ],
      "id": "f087c47c-c2a7-4a23-8c15-66c9307bf8d1",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\n\nreturn $input.first().binary;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        528
      ],
      "id": "5c927787-d0d1-4326-9c36-998c1d052322",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $if($json.guardrailsInput, $json.guardrailsInput , $json.chatInput) }}",
        "options": {
          "systemMessage": "ALWAYS  FORMAT YOUR RESPONSE INTO MARKDOWN\n\nYou are an academic assistant proficient in EFL education, research, and methodologies. If questions are deemed necessary, query the vector database for relevant documents. If you reference documents, include relevant pages, locations, sections, quotes, and other carefully thought out references and information.\n\nKeep this in mind, as this error often pops up when accessing the vector store:\n\nInput data must contain a \"input\" field with the search query\n\n---\n{ context }",
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        720,
        960
      ],
      "id": "f6199cce-9ed4-4152-92ed-7e0d0b173253",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        816,
        1168
      ],
      "id": "e59ffb68-282c-45d9-8bea-b07e8d16fb61",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "l2WB7TbEmXDnB0aX",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        640,
        1136
      ],
      "id": "b1d5b8fb-2582-4c3e-a8c8-143446964e4b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "52i4qybiLiN2qpeT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with the data in the Qdrant vector store",
        "qdrantCollection": {
          "__rl": true,
          "value": "prep_education_notes",
          "mode": "list",
          "cachedResultName": "prep_education_notes"
        },
        "topK": 8,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1136,
        1152
      ],
      "id": "1853e791-8af5-43c6-becc-662d9986a3bf",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "T4Fh7deQxrVB1Dbz",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Good afternoon, Justin. What would you like to know about your docs?",
        "options": {
          "allowedOrigins": "*",
          "allowFileUploads": false,
          "subtitle": "",
          "title": "",
          "customCss": ":root {\n  /* Colors */\n  --chat--color-primary: #e74266;\n  --chat--color-primary-shade-50: #db4061;\n  --chat--color-primary-shade-100: #cf3c5c;\n  --chat--color-secondary: #20b69e;\n  --chat--color-secondary-shade-50: #1ca08a;\n  --chat--color-white: #ffffff;\n  --chat--color-light: #f2f4f8;\n  --chat--color-light-shade-50: #e6e9f1;\n  --chat--color-light-shade-100: #c2c5cc;\n  --chat--color-medium: #d2d4d9;\n  --chat--color-dark: #101330;\n  --chat--color-disabled: #d2d4d9;\n  --chat--color-typing: #404040;\n\n  /* Base Layout */\n  --chat--spacing: 1rem;\n  --chat--border-radius: 0.25rem;\n  --chat--transition-duration: 0.15s;\n  --chat--font-family: (\n    sans-serif\n  );\n\n  /* Window Dimensions */\n  --chat--window--width: 400px;\n  --chat--window--height: 600px;\n  --chat--window--bottom: var(--chat--spacing);\n  --chat--window--right: var(--chat--spacing);\n  --chat--window--z-index: 9999;\n  --chat--window--border: 1px solid var(--chat--color-light-shade-50);\n  --chat--window--border-radius: var(--chat--border-radius);\n  --chat--window--margin-bottom: var(--chat--spacing);\n/* \n  Header Styles */\n  --chat--header-height: 0px;\n  --chat--header--padding: 0px;\n  --chat--header--background: black;\n  --chat--header--color: var(--chat--color-light);\n  --chat--header--border-top: none;\n  --chat--header--border-bottom: none;\n  --chat--header--border-left: none;\n  --chat--header--border-right: none;\n  --chat--heading--font-size: 2em;\n  --chat--subtitle--font-size: inherit;\n  --chat--subtitle--line-height: 1.8;\n\n  /* Message Styles */\n  --chat--message--font-size: 1rem;\n  --chat--message--padding: var(--chat--spacing);\n  --chat--message--border-radius: var(--chat--border-radius);\n  --chat--message-line-height: 1.5;\n  --chat--message--margin-bottom: calc(var(--chat--spacing) * 1);\n  --chat--message--bot--background: var(--chat--color-white);\n  --chat--message--bot--color: var(--chat--color-dark);\n  --chat--message--bot--border: none;\n  --chat--message--user--background: var(--chat--color-secondary);\n  --chat--message--user--color: var(--chat--color-white);\n  --chat--message--user--border: none;\n  --chat--message--pre--background: rgba(0, 0, 0, 0.05);\n  --chat--messages-list--padding: var(--chat--spacing);\n\n  /* Toggle Button */\n  --chat--toggle--size: 64px;\n  --chat--toggle--width: var(--chat--toggle--size);\n  --chat--toggle--height: var(--chat--toggle--size);\n  --chat--toggle--border-radius: 50%;\n  --chat--toggle--background: var(--chat--color-primary);\n  --chat--toggle--hover--background: var(--chat--color-primary-shade-50);\n  --chat--toggle--active--background: var(--chat--color-primary-shade-100);\n  --chat--toggle--color: var(--chat--color-white);\n\n  /* Input Area */\n  --chat--textarea--height: 50px;\n  --chat--textarea--max-height: 30rem;\n  --chat--input--font-size: inherit;\n  --chat--input--border: 0;\n  --chat--input--border-radius: 0;\n  --chat--input--padding: 0.8rem;\n  --chat--input--background: var(--chat--color-white);\n  --chat--input--text-color: initial;\n  --chat--input--line-height: 1.5;\n  --chat--input--placeholder--font-size: var(--chat--input--font-size);\n  --chat--input--border-active: 0;\n  --chat--input--left--panel--width: 2rem;\n\n  /* Button Styles */\n  --chat--button--color: var(--chat--color-light);\n  --chat--button--background: var(--chat--color-primary);\n  --chat--button--padding: calc(var(--chat--spacing) * 1 / 2) var(--chat--spacing);\n  --chat--button--border-radius: var(--chat--border-radius);\n  --chat--button--hover--color: var(--chat--color-light);\n  --chat--button--hover--background: var(--chat--color-primary-shade-50);\n  --chat--close--button--color-hover: var(--chat--color-primary);\n\n  /* Send and File Buttons */\n  --chat--input--send--button--background: var(--chat--color-white);\n  --chat--input--send--button--color: var(--chat--color-secondary);\n  --chat--input--send--button--background-hover: var(--chat--color-primary-shade-50);\n  --chat--input--send--button--color-hover: var(--chat--color-secondary-shade-50);\n  --chat--input--file--button--background: var(--chat--color-white);\n  --chat--input--file--button--color: var(--chat--color-secondary);\n  --chat--input--file--button--background-hover: var(--chat--input--file--button--background);\n  --chat--input--file--button--color-hover: var(--chat--color-secondary-shade-50);\n  --chat--files-spacing: 0.25rem;\n\n  /* Body and Footer */\n  --chat--body--background: var(--chat--color-light);\n  --chat--footer--background: var(--chat--color-light);\n  --chat--footer--color: var(--chat--color-dark);\n}\n\n\n/* You can override any class styles, too. Right-click inspect in Chat UI to find class to override. */\n.chat-message {\n\tmax-width: 50%;\n}\n\n* {\n  font-family: ui-sans-serif, system-ui, sans-serif, \"Apple Color Emoji\", \"Segoe UI Emoji\", \"Segoe UI Symbol\", \"Noto Color Emoji\";\n}\n\n",
          "responseMode": "streaming"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        464,
        960
      ],
      "id": "3d56edec-3742-46c8-86da-9a43c96887ba",
      "name": "When chat message received",
      "webhookId": "c98f7008-71ce-415a-977d-daf84657ab90"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1984,
        736
      ],
      "id": "564516ce-854d-4d02-99e6-780de18a8ea2",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "html": "<style>\n.message-card {\n  max-width: 70%;\n  padding: 1.5rem 1.7rem;\n  border: 0.5px solid #A7C7E7; /* dark slate */\n  color: black;\n  border-radius: 12px; /* slightly cuter rounding */\n  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); /* softer shadow for depth */\n  margin-bottom: 16px;\n  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;\n  line-height: 1.6;\n  position: relative;\n  transition: transform 0.15s ease;\n}\n\n.message-card:hover {\n  transform: translateY(-1px); /* subtle lift on hover */\n}\n.message-card h1,\n.message-card h2,\n.message-card h3,\n.message-card h4,\n.message-card h5,\n.message-card h6 {\n  margin-top: 1rem;\n  margin-bottom: 0.5rem;\n  font-weight: 600;\n}\n\n.message-card p {\n  margin-bottom: 0.75rem;\n  line-height: 1.6;\n}\n\n.message-card ul,\n.message-card ol {\n  margin-bottom: 0.75rem;\n  padding-left: 1.5rem;\n}\n\n.message-card li {\n  margin-bottom: 0.25rem;\n  text-decor\n}\n\n.message-card blockquote {\n  margin: 0.75rem 0;\n  padding: 0.5rem 1rem;\n  border-left: 4px solid #6b7280;\n  background: rgba(107, 114, 128, 0.1);\n  font-style: italic;\n}\n\n.message-card code {\n  background: rgba(0, 0, 0, 0.1);\n  padding: 0.125rem 0.25rem;\n  border-radius: 3px;\n  font-family: 'Monaco', 'Consolas', monospace;\n  font-size: 0.9em;\n}\n\n.message-card pre {\n  margin: 0.75rem 0;\n  padding: 0.75rem;\n  background: #1f2937;\n  border-radius: 6px;\n  overflow-x: auto;\n}\n\n.message-card pre code {\n  background: none;\n  padding: 0;\n  border-radius: 0;\n}\n.message-card ul {\n  list-style: none;\n  margin-bottom: 0.75rem;\n  padding-left: 0;\n}\n\n.message-card ul li {\n  position: relative;\n  padding-left: 1.25rem;\n}\n\n.message-card ul li::before {\n  content: \"▸\"; /* arrow bullet */\n  position: absolute;\n  left: 0;\n  color: #9ca3af; /* light gray */\n  font-weight: bold;\n}\n/* .message-card::before {\n  content: \"AI:\";\n  position: absolute;\n  top: 8px;\n  left: 12px;\n  font-size: 16px;\n  opacity: 0.7;\n} /* subtle chat icon */ */\n</style>\n\n<div class=\"message-card\" style=\"padding-left: 36px;\"> <!-- adjusted for icon space -->\n  {{$json.html}}\n</div>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1760,
        720
      ],
      "id": "3ed6e28d-eb70-4130-9a53-d80d9020cecd",
      "name": "HTML",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.output }}",
        "destinationKey": "html",
        "options": {
          "openLinksInNewWindow": false,
          "ghCodeBlocks": true,
          "simpleLineBreaks": true
        }
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1280,
        736
      ],
      "id": "9d74ca44-30c4-45ee-8bce-470c3843aa81",
      "name": "Markdown"
    },
    {
      "parameters": {
        "fieldToSplitOut": "html",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1488,
        736
      ],
      "id": "d090f8ac-fa2b-496e-9c85-ec63b59e46e8",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "All Documents Uploaded",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        448,
        48
      ],
      "id": "06df34be-002e-4f08-b0a1-271356e40678",
      "name": "Respond to Webhook1"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract text1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Collection": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "On form submission": [
      {
        "files": [
          {
            "filename": "Long Term July August English Conversation.md",
            "mimetype": "application/octet-stream",
            "size": 722
          },
          {
            "filename": "Final Prep.md",
            "mimetype": "application/octet-stream",
            "size": 8230
          },
          {
            "filename": "Mental Health and Culture Shock (me).md",
            "mimetype": "application/octet-stream",
            "size": 1479
          },
          {
            "filename": "formal_curriculum.md",
            "mimetype": "application/octet-stream",
            "size": 6927
          }
        ],
        "submittedAt": "2025-12-02T00:19:05.671-05:00",
        "formMode": "test"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "92d9bc7aaf631c549dd34e41eebcfc6f28008d21e0a81da44e8b86f16f8c275b"
  }
}
